<div class="slider">
    <ul>
        <li>
            <div class="card">
                <p>5° - 10 °C</p>
                <img src="../../../assets/04d.png" alt="">
                <h4>Sat (24 feb)</h4>
            </div>
        </li>
        <li>
            <div class="card">
                <p>2° - 9 °C</p>
                <img src="../../../assets/04d.png" alt="">
                <h4>Sun (25 feb)</h4>
            </div>
        </li>
        <li>
            <div class="card">
                <p>1° - 6 °C</p>
                <img src="../../../assets/04d.png" alt="">
                <h4>Mon (26 feb)</h4>
            </div>
        </li>
        <li>
            <div class="card">
                <p>-1° - 5 °C</p>
                <img src="../../../assets/04d.png" alt="">
                <h4>Tue (27 feb)</h4>
            </div>
        </li>
        <li>
            <div class="card">
                <p>-1° - 5 °C</p>
                <img src="../../../assets/04d.png" alt="">
                <h4>Wed (28 feb)</h4>
            </div>
        </li>
        <li>
            <div class="card">
                <p>2° - 7 °C</p>
                <img src="../../../assets/04d.png" alt="">
                <h4>Thu (29 feb)</h4>
            </div>
        </li>
        <li>
            <div class="card">
                <p>-1° - 5 °C</p>
                <img src="../../../assets/04d.png" alt="">
                <h4>Fri (01 Mar)</h4>
            </div>
        </li>

    </ul>
</div>
