body {
    background-image: url(./assets/bg.c13f4739eb1606b2bf7b.webp);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}